#SSShot Config File

#Required configurations
UPLOAD_ON_CAPTURE=true #true/false Upload screenshot file to remote server?
COPY_CLIPBOARD=true #true/false Copy final image url to the clipboard after upload to remote server. Requires UPLOAD_ON_CAPTURE to be true.
SHOW_NOTIFICATIONS=true #true/false Show desktop notifications.

#Server configurations
SERVER="mrholland@pawdesigns.ca" #The remote server. user@example.com
SERVER_DEST="/var/www/c.flm.pw/public/" #The remote base directory. /var/www/capture.example.com/
SERVER_URL="https://c.flm.pw/" #The public URL. https://capture.example.com/

#Advancaed configurations. Only change these if you know what you are doing!
DATE=`date +%Y-%m`
IMG_ID=$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 5 | head -n 1)
HOME_DIR=$(getent passwd "$USER" | cut -d: -f6)
SS_DIR=${HOME_DIR}'/Pictures/screenshots/'

#SSShot WILL STOP WORKING IF THE BELOW IS MODIFIED!
CONFIGAVAILABLE=1